{
    "conf": {
        "cotisation_label": "Payé 2025",
        "groupe": "Adhérent·es la Coop des Communs",
        "helloAsso": {
            "api_url": "https://api.helloasso.com",
            "default": {
                "Date de naissance": "",
                "Fonction au sein de votre structure": "",
                "Genre": "Non-précisé",
                "Intérêts (mot-clés)": "",
                "Localisation (code postal)": "",
                "Si oui, pouvez-vous nous indiquer deux personnes connues au sein de l'association ?": "",
                "Souhaitez-vous partager les informations précédentes avec les autres adhérent·es de la Coop des Communs ? Pour information, les champs suivants seront uniquement accessibles par l'équipe de gestion de l'association et les prestataires missionnés.": "Non",
                "Structure": ""
            },
            "first_sub_field": "Est-ce votre première adhésion à la coop des communs ?",
            "form_name": "Adhésion année 2025",
            "name_field": "Nom",
            "organization_name": "la-coop-des-communs",
            "subscription_after": "2025-01-01T11:12:12"
        },
        "ovh": {
            "mailing_list": {
                "domain": "coopdescommuns.org",
                "name": "membres"
            },
            "email": {
                "from": "@@SIG_EMAIL@@",
                "subject": "Bienvenue à La Coop des Communs !",
                "send_confirmation": false
            }
        },
        "airtable": {
            "table_name": "Annuaire",
            "linked_records": {
                "Groupe(s)": {
                    "linked_table": "Liste des groupes",
                    "match_field": "Nom",
                    "on_missing": "warn"
                },
                "Structure(s)": {
                    "linked_table": "Structures",
                    "match_field": "Nom",
                    "on_missing": "create"
                }
            },
            "computed_fields": {
                "new_member": {
                    "field": "Nouvel Adherent",
                    "create_value": "Oui",
                    "update_value": "Non"
                },
                "first_year_subscription": {
                    "field": "Année de première adhésion",
                    "fallback_value": ""
                }
            }
        }
    }
}
